@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

/*font-family: 'Comfortaa', cursive;*/

:root {
    --tile-length: 17.5vmin;
    --animation-duration: 8s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

h1 {
    font-size: min(10vw, 3rem);
    font-family: 'Comfortaa', cursive;
    color: white;
}

.kaleidoscope {
    position: relative;
    width: 240px;
    height: 240px;
    -webkit-animation: rotation var(--animation-duration) linear infinite;
    animation: rotation var(--animation-duration) linear infinite;
    border-radius: 50%;
    overflow: hidden;
}

.kaleidoscope:after {
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 0;
}

.kl-el {
    position: absolute;
    width: calc(2 * var(--tile-length));
    height: calc(2 * var(--tile-length));
    border-radius: 50%;
    overflow: hidden;
    transform: translate(calc(var(--tile-length) * -0.134), -50%);
}

.kl-el:nth-child(1) {
    top: 50%;
    left: -10%;
}

.kl-el:nth-child(2) {
    top: 50%;
    left: 29%;
}

.kl-el:nth-child(3) {
    top: 50%;
    left: 68%;
}

.kl-el:nth-child(4) {
    top: calc(46% - calc(1.31* var(--tile-length)));
    left: calc(var(--tile-length)* 0.423);
}

.kl-el:nth-child(5) {
    top: calc(50% - calc(1.49* var(--tile-length)));
    left: calc(3* var(--tile-length)* 0.717);
}

.kl-el:nth-child(6) {
    top: calc(50% + calc(1.5* var(--tile-length)));
    left: calc(var(--tile-length)* 0.424);
}

.kl-el:nth-child(7) {
    top: calc(50% + calc(1.5* var(--tile-length)));
    left: calc(3* var(--tile-length)* 0.717);
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tile {
    position: absolute;
    top: 28%;
    left: 25%;
    width: var(--tile-length);
    height: calc(var(--tile-length) * 0.866);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile:nth-child(1) {
    transform: rotate(30deg) translateY(50%) scaleX(-1);
}

.tile:nth-child(2) {
    transform: rotate(90deg) translateY(50%);
}

.tile:nth-child(3) {
    transform: rotate(150deg) translateY(50%) scaleX(-1);
}

.tile:nth-child(4) {
    transform: rotate(210deg) translateY(50%);
}

.tile:nth-child(5) {
    transform: rotate(270deg) translateY(50%) scaleX(-1);
}

.tile:nth-child(6) {
    transform: rotate(330deg) translateY(50%);
}

.texture {
    position: absolute;
    height: calc(1.75 * var(--tile-length));
    width: calc(1.75 * var(--tile-length));
    background-image: url(resimler/manzara.jpg);
    background-size: 100%;
    -webkit-animation: rotation var(--animation-duration) linear infinite;
    animation: rotation var(--animation-duration) linear infinite;
}

.tile .texture {
    position: absolute;
    height: calc(1.75 * var(--tile-length));
    width: calc(1.75 * var(--tile-length));
}


.link {
    position: fixed;
    z-index: 10;
    left: calc(2.5vmin - .75rem);
    bottom: calc(2.5vmin - .75rem);
    font-size: 1.5rem;
    font-family: arial, sans-serif;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.my-name {
    position: relative;
}

.before,
.after {
    overflow: hidden;
    width: 0px;
    transition: width .5s;
    transform-origin: right;
}

.before-text {
    display: inline-block;
    width: auto;
    text-align: right;
}

.after-text {
    display: flex;
    align-items: center;
    width: auto;
    height: 3rem;
    transform-origin: top center;
}

.link:hover .before {
    width: 2.5rem;
}

.link:hover .after {
    width: 4rem;
}

.link:hover .spin {
    display: inline-block;
    transition: .5s transform .5s ease-in-out;
    transform: rotate(360deg);
}

.app {
    position: relative;
    margin-top: 70px;
    margin-left: -600px;
}

.kaleidoscope1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mywatch {
    width: 300px;
    height: 300px;
    background-color: #444;
    border-radius: 50%;
    position: relative;
    margin-top: -350px;
    margin-right: -800px;
    margin-left: 800px;
}

.screen {
    width: 240px;
    height: 240px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Saat kadranı stilleri */
.hour-hand,
.second-hand,
.minute-hand {
    position: absolute;
    width: 2px;
    background-color: var(--hand-color, white);
    /* Renk değerini CSS değişkeninden al */
    transform-origin: 50% 100%;
    height: var(--hand-thickness, 4px);
    /* Kalınlık değerini CSS değişkeninden al */
}


.hour-hand {
    height: 70px;
    top: 58px;
    margin-left: 4;
    width: 4px;
}

.minute-hand {
    height: 95px;
    top: 35px;
    margin-left: 0;
    width: 4px;
}

.second-hand {
    height: 105px;
    top: 24px;
    margin-left: 0;
}

.numbers {
    position: absolute;
    width: 90%;
    height: 90%;
    transform: rotate(30deg);
    margin-top: -35px;
    margin-left: 20px;
}

.number {
    position: absolute;
    font-size: 16px;
    color: #fff;
    transform-origin: center;
    transform: translateX(-50%) rotate(-30deg);
    /* Sayıların yuvarlak içinde düzgün bir şekilde yerleştirilmesini sağlar */
}

.number:nth-child(1) {
    top: -6px;
    left: 49%;
    font-size: 35px;
}

.number:nth-child(2) {
    top: 4.5%;
    left: 73.25%;
    font-size: 35px;
}

.number:nth-child(3) {
    top: 20.5%;
    left: 90.75%;
    font-size: 35px;
}

.number:nth-child(4) {
    top: 44.75%;
    left: 98.75%;
    font-size: 35px;
}

.number:nth-child(5) {
    top: 68.75%;
    left: 93.25%;
    font-size: 35px;
}

.number:nth-child(6) {
    top: 87%;
    left: 74%;
    font-size: 35px;
}

.number:nth-child(7) {
    top: 93.75%;
    left: 47.75%;
    font-size: 35px;
}

.number:nth-child(8) {
    top: 86.75%;
    left: 24.25%;
    font-size: 35px;
}

.number:nth-child(9) {
    top: 69.5%;
    left: 6.25%;
    font-size: 35px;
}

.number:nth-child(10) {
    top: 44.5%;
    left: 1.75%;
    font-size: 35px;
}

.number:nth-child(11) {
    top: 21.5%;
    left: 9%;
    font-size: 35px;
}

.number:nth-child(12) {
    top: 3.5%;
    left: 25%;
    font-size: 35px;
}

.image-gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-upload {
    width: 60%;
    /* Resim ekleme formu container'ının genişliğini ayarla */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* İçeriği sağa hizala */
    margin-left: 750px;
}

#addImageButton {
    width: 105px;
    margin-top: 2px;
    margin-left: 2px;
}

.image-preview {
    margin-top: 20px;
    /* Resim gösterme alanını biraz aşağıya it */
    width: 100px;
    height: 150px;
}

.resim-alani {
    margin-left: 750px;
    border: 2px solid black;
    width: 90%;
    height: 55%;
    border-radius: 5px;
    margin-top: 15px;
    overflow: scroll;
}

.kadran-alani {
    margin-left: 750px;
    border: 2px solid black;
    width: 90%;
    height: 45%;
    border-radius: 5px;
    margin-top: 15px;
}

/* Kadran ayarları stil */
.clock-settings {
    margin-top: 70px;
    text-align: -webkit-center;
}

.clock-settings label {
    display: block;
    margin-bottom: 5px;
    width: 120px;
}

.clock-settings input {
    margin-bottom: 10px;
}

.shadow-sm {
    width: 500px;
    height: auto;
    margin-top: -50px;
}

.bd-placeholder-img card-img-top {
    width: 500px;
    height: 200px;
}

.img .bd-placeholder-img card-img-top {
    margin-top: -150px;
}